@use "../../styles/utils" as *;
@use "../../styles/modules";

.swiper_slide {
    .image_container {
        border-radius: toRem(36);
        height: toRem(600);
        overflow: hidden;
        position: relative;

        &:hover {
            .content_container {
                transform: translateY(-50%);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content_container {
            padding: toRem(34) toRem(82);
            border-radius: toRem(36);
            background: linear-gradient(to left, #edfefc 0%, #fef6ec 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            transition: all 0.3s ease;
        }

        .social_links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: toRem(23);
            background-color: var(--color-orange-light);
            padding-block: toRem(50) toRem(24);
            border-radius: 0 0 toRem(36) toRem(36);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 100%;

        }
    }

}