@use "../../styles/utils" as *;
@use "../../styles/modules";


.hero {
    background: linear-gradient(to left, #EDFEFC 0%, #FEF6EC 100%);
    height: calc(100vh - 141px);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 7.5%;
        left: 0;
        width: 100%;
        height: 23px;
        background: url('/images/hero-line.png') no-repeat center center;
        background-size: contain;
        z-index: 1;

        @include respond-mobile {
            content: none;
        }
    }

    @include respond-mobile {
        height: auto;
    }

    .hero_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 140px 0 55px;

        @include respond-mobile {
            flex-direction: column;
            padding: 70px 0 0 0;

            gap: 40px;
        }

        .col {
            width: 50%;

            @include respond-mobile {
                width: 100%;
                text-align: center;
            }

            .intro {
                color: var(--color-green);
                font-weight: $font-semibold;
                font-size: 32px;

                @include respond-mobile {
                    font-size: 24px;
                    margin-bottom: var(--spacing-semismall);
                }
            }

            h2 {
                font-size: 70px;
                font-weight: $font-bold;
                letter-spacing: 0.03em;

                @include respond-mobile {
                    font-size: 32px;
                }
            }

            .admission_date {
                text-decoration: underline;
                color: var(--color-text);
                font-weight: $font-medium;
                font-size: 26px;

                margin: var(--spacing-semimedium) 0 33px;

                @include respond-mobile {
                    font-size: var(--fontsize-small-mobile);
                    margin: var(--spacing-semismall) 0 24px;
                }
            }
        }

        .col_60 {
            width: 60%;

            @include respond-mobile {
                width: 100%;
                text-align: left;
            }
        }

        .col_40 {
            width: 40%;

            @include respond-mobile {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}