@use "../../styles/utils" as *;
@use "../../styles/modules";


.content_slider {
    text-align: center;
    padding-top: toRem(70);

    h1 {
        font-size: toRem(45);
        font-weight: $font-bold;
    }


    .swiper_container {
        padding-block: toRem(90);

        @include respond-mobile() {
            padding-block: toRem(40);
        }

        :global(.swiper-pagination) {
            opacity: 1;
            transition: 0.3s;
            position: relative;
            transform: none;
            margin-top: toRem(78);
        }

        :global(.swiper-pagination-bullet) {
            width: 26px;
            height: 13px;
            border-radius: 17px;
        }

        :global(.swiper-pagination-bullet-active) {
            background-color: #333; // màu active
            border-radius: 10px;
        }

        
    }
}

.extraClasses_slider {
    background: linear-gradient(to left, #edfefc 0%, #fef6ec 100%);
}